*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box ;
}
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-thumb{
        background: #70a2c4be;
        border-radius: 5rem;
}
.padre{
    display:flex ;
    flex-flow: column nowrap;
}
.header{   
    background: none;
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
    width: 100%;
    
}
.container {
    padding: 0.7rem 30%;
    width: 100%;
    height: 60px;
    background: #70a3c4;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.item-options{
    color: aliceblue;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size:large;
}
.item-options:hover{
    background: rgb(0, 164, 240);
    color: white;
    border-bottom: .1rem solid var (--main black);
    padding-bottom: .5rem;

}
        
        
        
.section{
    background: none;
    display: flex ;

}
    .articulos{
        background: none;
        flex:2 1 auto;
        display:flex ;
        flex-flow: row wrap;
    }
        .article{
            background: rgb(255, 240, 213);
            flex: 1 1 40%;
        }
    
    .aside{
        background: none;
        flex: 1 1 auto;
    }
      .publicidad{
          background: rgb(231, 231, 231);
      }
.footer{
    display: block;
    line-height: 40px;
    background: black;
    color: white;
}
 

@media all and (max-width : 900px){
    .section{
        flex-direction: column ;
    }
}
@media all and (max-width : 600px){
    .articulos{
        flex-direction: column ;
    }
    
}