*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box ;
}
html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-thumb{
        background: #70a2c4be;
        border-radius: 5rem;
}
.padre{
    display:flex ;
    flex-flow: column nowrap;
}
.header{   
    background: none;
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
    width: 100%;
    
}
.container {
    padding: 0.7rem 20%;
    width: 100%;
    height: 50px;
    background: #70a2c4;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
nav{
    position: absolute;
    
}
nav ul li {
    display: inline-block;
    
}
nav ul li a {
    text-decoration: none;
    font-style: italic;
    color: white;
    background: #70a2c4;
    font-weight: bold;
    
   
}
nav ul li a:hover{
    background: rgb(0, 164, 240);
    color: white;
    border-bottom: .1rem solid var (--main black);
    padding-bottom: .5rem;

}

        
        
        
.section{
    background: none;
    display: flex ;

}
    .articulos{
        background: none;
        flex:2 1 auto;
        display:flex ;
        flex-flow: row wrap;
    }
        .article{
            background: rgb(255, 240, 213);
            flex: 1 1 40%;
            border-radius: 20px;
        }
    
    .aside{
        background: none;
        flex: 1 1 auto;
    }
      .publicidad{
          background: rgb(231, 231, 231);
          border-radius: 20px;
      }

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h5{
    font-weight: lighter;
    font-family: monospace;
    font-size: 15px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer{
    display: block;
    line-height: 40px;
    background: black;
    color: white;
}
 

@media all and (max-width : 900px){
    .section{
        flex-direction: column ;
    }
}
@media all and (max-width : 600px){
    .articulos{
        flex-direction: column ;
    }
    
}